<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class=" mx-4 navbar-brand" href="#">ToDoApp</a>
  
    <div id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a style="font-size: 20px;" [routerLink]="['/']" routerLinkActive="router-link-active"  class="nav-link" (click) = "loadAddTask()">Add Task</a>
        </li>
        <li class="nav-item">
          <a style="font-size: 20px;" [routerLink]="['/view']" routerLinkActive="router-link-active"  class="nav-link" (click) = "loadViewTask()" >View Tasks</a>
        </li>
      </ul>
    </div>
  </nav>
